<h2>Dodaj firmę</h2>
<%- include('partials/form', { 
    buttonText: 'Dodaj firmę',
    showFile: false,
    isEnctype: false,
}) -%>

<!-- <p><%- JSON.stringify(user) %></p> 
    user to obiekt - zawiera _id i email
-->